__pycache__/
*.egg-info/
.pytest_cache/
build/
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/mcp-server-graylog/
debian/mcprack-mcp-server-graylog/
